.group-1,
.group-2 {
    display: flex;                 
    justify-content: space-between;
    flex-wrap: wrap;               
    gap: 20px;                      
    margin: 40px;           
}

.group-1 > div,
.group-2 > div {
    width: 22%;                   
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    text-align: center;
}

.group-1 > div:hover,
.group-2 > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.group-1 img,
.group-2 img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.group-1 h3,
.group-2 h3 {
    font-weight: bolder;
    font-size: 18px;
    margin: 8px 0;
}

.group-1 span,
.group-2 span {
    font-weight: bold;
    font-size: 18px;
    color: #474040;
}
