.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 3vw;
    padding-top: 50px;
    background-color: beige;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left,.footer-content-center,.footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}
.footer-content-left{
    position: relative;
    top: -70px;

}
.footer-content-left >img{
    position: relative;
    top: 30px;
}

.footer-social-icons{
    display: flex;
    gap: 8px;
}
h2 ,h3{
    font-weight: bolder;
    font-size:20px
}
hr{
    width: 100%;
    height:2px ;
    margin: 20px 0;
}