.footer {
    width: 100%;
    background: #f9f5ef;
    padding: 60px 8vw 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-content-left {
    position: relative;
    top: -30px;
}
.footer-content-left img {
    margin-bottom: 10px ;
}

.footer-content p {
    font-size: 14px;
    line-height: 1.6;
    color: #4b4b4b;
    position: relative;
    top: -40px;
}

.footer-content-center h2,
.footer-content-right h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2f2f2f;
}

.footer-content-center ul {
    list-style: none;
    padding: 0;
}

.footer-content-center ul li {
    margin: 6px 0;
    font-size: 15px;
    cursor: pointer;
    color: #555;
    transition: 0.3s;
}

.footer-content-center ul li:hover {
    color: #000;
    transform: translateX(5px);
}

.footer-content-right ul {
    list-style: none;
    padding: 0;
}

.footer-content-right ul li {
    font-size: 15px;
    color: #555;
}

.footer-social-icons {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.footer-social-icons img {
    transition: 0.3s;
    cursor: pointer;
}

.footer-social-icons img:hover {
    transform: scale(1.15);
}

.footer hr {
    width: 100%;
    border: none;
    height: 1px;
    background: #d7d7d7;
    margin: 30px 0 15px;
}


.footer-copy {
    font-size: 14px;
    color: black;
}

@media (max-width: 900px) {
    .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .footer-content-left {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 40px 5vw 20px;
    }

    .footer-content {
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }

    .footer-content-left,
    .footer-content-center,
    .footer-content-right {
        align-items: center;
    }

    .footer-social-icons {
        justify-content: center;
    }

    .footer-content-center ul li:hover {
        transform: translateX(0px);
    }
}