/* Entire Cart Page */
.cart-page {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

/* Empty message container */
.empty-msg-container {
  text-align: center;
  margin-top: 80px;
}

.empty-msg-container h2 {
  font-size: 26px;
  color: #444;
  margin-bottom: 20px;
}

.home-btn {
  background: #4a90e2;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.home-btn:hover {
  background: #357bd8;
}


/* Cart heading */
.text-center {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

/* Cart card */
.cart-card {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  background: #f8f9fa;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.cart-card:hover {
  transform: translateY(-3px);
       box-shadow: 0px 6px 32px rgba(245, 222, 179, 0.63);
}

/* Product info */
.cart-info {
  flex: 1;
}

.cart-info h3 {
  font-size: 20px;
  margin: 5px 0;
  color: #222;
}

.cart-info h2 {
  font-size: 16px;
  color: #666;
}

.cart-info p {
  margin: 5px 0;
  color: #777;
}

.cart-info span {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

/* Quantity Section */
.cart-last {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-last button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background: #e6e6e6;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.cart-last button:hover {
  background: #cfcfcf;
}

.cart-last h4 {
  font-size: 18px;
  width: 30px;
  text-align: center;
  color: #333;
}

/* Remove Button */
.remove-btn {
  background: #e20b0b;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.remove-btn:hover {
  background: #e84343;
}
.home-btN {
       margin: 35px auto;
       padding: 10px 22px;
       background-color: #4a90e2;
       color: #fff;
       border: none;
       border-radius: 8px;
       cursor: pointer;
       transition: .25s ease;
       display: block;
   }

   .home-btN:hover {
       background-color: #357ab8;
   }


/* Responsive design */
@media (max-width: 768px) {
  .cart-card {
    flex-direction: column;
    text-align: center;
  }

  .cart-last {
    justify-content: center;
  }

  .remove-btn {
    margin-top: 10px;
  }
}
