.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 1;
    background: white;
    padding: 0 10px;    
    box-shadow: 0 2px 10px bisque;
}

.title{
    width: 8%;              
}
.links {
    display: flex;
    gap: 20px;
}

.link-items {
    position: relative;
    padding: 2px 0;           
    font-size: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link-items::before,
.link-items::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.link-items::before {
    top: -4px;
    transform-origin: left;
}

.link-items::after {
    bottom: -4px;
    transform-origin: right;
}

.link-items:hover::before,
.link-items:hover::after {
    transform: scaleX(1);
}

.fnction {
    display: flex;
    gap: 15px;
    cursor: pointer;
}
