.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 100;
    background: white;
    padding: 0 20px;
    box-shadow: 0 2px 10px bisque;
}

.title {
    width: 120px;
}

.links {
    display: flex;
    gap: 25px;
}

.link-items {
    position: relative;
    padding: 2px 0;
    font-size: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link-items::before,
.link-items::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.link-items::before {
    top: -4px;
    transform-origin: left;
}
.link-items::after {
    bottom: -4px;
    transform-origin: right;
}

.link-items:hover::before,
.link-items:hover::after {
    transform: scaleX(1);
}

.fnction {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.mobile-menu-btn {
    display: none;
}

.mobile-links {
    display: none;
}

@media (max-width: 900px) {
    .links {
        gap: 15px;
    }
}

@media (max-width: 768px) {

    .links,
    .fnction {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
        font-size: 28px;
        cursor: pointer;
    }

    .mobile-links {
        display: flex;
        flex-direction: column;
        gap: 18px;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: white;
        padding: 20px;
        box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
        z-index: 99;
    }
}
