
.loader {
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  margin: 100px auto;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}
