   /* Wishlist Page Main Layout */
   .wish-page {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 20px;
       width: 100%;
   }

   /* Empty Wishlist Section */
   .empty-msg-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
       margin-top: 60px;
   }

   .empty-msg {
       font-size: 24px;
       font-weight: bold;
       color: #555;
       margin-bottom: 15px;
   }

   /* Empty page button */
   .home-btn {
       padding: 10px 22px;
       background-color: #4a90e2;
       color: #fff;
       border: none;
       border-radius: 8px;
       cursor: pointer;
       transition: 0.25s ease;
   }

   .home-btn:hover {
       background-color: #357ab8;
   }

   /* Main "Go Home" button at bottom */
   .home-btN {
       margin: 35px auto;
       padding: 10px 22px;
       background-color: #4a90e2;
       color: #fff;
       border: none;
       border-radius: 8px;
       cursor: pointer;
       transition: .25s ease;
       display: block;
   }

   .home-btN:hover {
       background-color: #357ab8;
   }

   /* Wishlist Title */
   .text-center {
       text-align: center;
       margin-bottom: 20px;
   }

   .wish-card {
       display: flex;
       align-items: center;
       gap: 20px;
       width: 90%;
       max-width: 700px;
       padding: 15px;
       margin: 15px 0;
       background: #ffffff;
       border-radius: 10px;
       box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
   }

   .wish-card:hover {
       transform: translateY(-3px);
       box-shadow: 0px 6px 32px rgba(245, 222, 179, 0.63);
   }

   .wish-card img {
       border-radius: 8px;
   }

   /* Product Info */
   .wish-info {
       flex: 1;
       display: flex;
       flex-direction: column;
       gap: 5px;
   }

   .wish-info h3 {
       margin: 0;
       color: #333;
   }

   .wish-info h2 {
       margin: 0;
       font-size: 18px;
       color: #777;
   }

   .wish-info p {
       margin: 0;
       font-size: 14px;
       color: #666;
   }

   .wish-info span {
       font-size: 16px;
       font-weight: bold;
       color: #333;
   }

   /* Add to Cart Button */
   .tocart button {
       padding: 8px 15px;
       background-color: rgb(244, 220, 191);
       border: none;
       border-radius: 8px;
       cursor: pointer;
       transition: .25s ease;
   }

   .tocart button:hover {
       background-color: burlywood;
   }

   /* Remove Item */
   .remove {
       padding: 8px 12px;
       background-color: #fd0505;
       color: white;
       border-radius: 8px;
       cursor: pointer;
       transition: .25s ease;
   }

   .remove:hover {
       background-color: #ba2929;
       ;
   }

   /* Responsive */
   @media (max-width: 600px) {
       .wish-card {
           flex-direction: column;
           text-align: center;
       }

       .wish-info {
           align-items: center;
       }
   }